<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Egg Counter Agrobit Login</title>
    <!-- <link rel="stylesheet" type="text/css" href="{{ url_for('static', path='/css/styles.css') }}"> -->
</head>
<body>
    <style>
        .container {
        height: 400px;
        position: relative;
        /* border: 3px solid green; */
        }
    
        .center {
        margin: 0;
        position: absolute;
        top: 50%;
        left: 50%;
        -ms-transform: translate(-50%, -50%);
        transform: translate(-50%, -50%);
        }
        </style>
    
        <div class="container">
            <div class="center">
                <form method="post">
                    <p><input type=submit value=Login>
                </form>
            </div>
        </div>
</body>